/* styles.css (or your preferred CSS file) */

/* social-media-icons.css */

.social-icons-container {
  overflow: hidden;
  position: relative;
  width: 100px;
  /* Increase the width as needed */
  height: 200px;
  /* Increase the height as needed */
}


.social-icons-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
  /* Adjust animation duration (20s) as needed */
  white-space: nowrap;
}

.social-icons-scroll a {
  margin-right: 20px;
  /* Adjust the spacing between icons as needed */
  color: #eeebeb;
  /* Icon color */
  font-size: 40px;
  /* Icon size */
  text-decoration: none;
  transition: color 0.01s ease;
}

.social-icons-scroll a:hover {
  color: #2600ff;
  /* Change color on hover */
}

/* styles.css or your stylesheet */
.social-icon {
  /* Your existing styles */
  transition: transform 0.5s;
  /* Add a transition for smooth animation */
}

.hide-icon {
  transform: translateZ(-100px);
  /* Move the icon to the backside */
  opacity: 0;
  /* Hide the icon */
}



@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
    
  }
  
}
